*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header*/

header {
    height: 100px;
    background: #4d4d5c;
    padding: 0 50px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color: #3677f0;
    font-weight: 200;
}
.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #3677f0;
}

#check{
    display: none;
}

/*baner*/
#banner{
    padding: 0 30px;
    background-image: url(/pagina/img/bannercolab.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before {
    content: '';
    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.contenido-banner h3 {
    font-size: 0px;
    font-weight: 400;
    padding: 18px 0;
}
.contenido-banner h3 span {
    font-weight: 600;
}
.contenido-banner {
    position: relative;
    color: white;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h5 {
    font-size: 30px;
    padding: 5px;
}
.titulo {
    font-size: 1cm;
}

.boton-empezar {
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
    border: 1px solid #3686f5;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
    margin-top: 10px;
}
.boton-empezar:hover{
    background: #4981f2;
    transition: all 0.4s;
}

/* evento y talleres */

#actividades {
    background-image: url(/pagina/img/fondoactivi.jpg) ;
    background-size: cover;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3cm;
}
#actividades img {
    border-radius: 100%;
    margin: 1px;
}
#actividades div {
    padding: 30px 30px;

}
#actividades div h4 {
    color: #000000;
    font-size: 50px;
    margin: 15px 0px;
    margin-top: 5px;
}
#actividades div p {
    color: #000000;
    font-size: 30px;
}
.botonfreekcon {
    display: inline-block;
    text-decoration: none;
    color: #3677f0;
    padding: 10px 30px;
    border: 3px solid #4981f2;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s; 
    font-size: 30px;
}
.botonfreekcon:hover {
    background-color: #3677f0;
    color: white;
}

/*formulario*/

#contacto {
    background: #3677f0;
    padding: 50px 0;
    color: white;
}
#contacto h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#contacto form {
    max-width: 80%;
    margin: 0 auto;
}
.datos-form {
    display: flex;
}
.datos-form div {
    padding: 10px;
    flex: 1;
}
form label {
    display: block;
    margin-bottom: 10px;
}
form input,
form textarea {
    background: #3677f0;
    border-radius: 10px;
    border: 2px solid #5399fb;
    padding: 10px 5px;
    outline: 0;
    color: white;
    width: 100%;
}
form input:focus,
form textarea:focus {
    border-color: #0758ca;
    box-shadow: 0 0 0 1px #0758ca;
}

form input::placeholder,
form textarea::placeholder {
    color: white;
}
.mensaje {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.boton-formulario .botonfreekcon {
    display: block;
    border: 1px solid white;
    color: white;
    text-align: center;
    transition: 0.4s;
}
.boton-formulario .botonfreekcon:hover {
    background: #0e68e6;
}

/*footer*/

footer {
    background: #4d4d5c;
    color: #cccccc4a;
    text-align: center;
    padding: 10px 0px;
}

/*responsive */

@media(max-width: 760px){
   /*header*/
   .mostrar-menu,
   .esconder-menu{
    display: block;
   }
   
   .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #4d4d5c;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
   }
   .menu a{
    display: block;
    padding: 20px;
   }
   .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
   }

   #check:checked ~ .menu{
    right: 0;
   }

   /* actividades */ 
  #actividades{
    flex-direction: column;
  }

  /* formulario */

  .datos-form {
    flex-direction: column;
  }

}

